* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  border-bottom: 4px solid blueviolet;

  background-color: darkcyan;

  h1 {
    margin: 0 auto;
    padding: 12px;

    color: beige;
  }
}
